@colorTextoH3: #9E9E9E;
@colorTextoBoxContainer: #444444;
@colorTextoRedesFa: rgb(240, 105, 34);
@colorTextoRedesFaHover: rgb(140, 140, 140);

@bgColorFondo: bisque;
@bgColorFrontSideBackSide: #fafafa;
@bgColorFrontSideHeader: #5bc0de;
@bgColorBoxFrontContainerImg: #f2f2f2;

@bgImgBoxFrontHeader: '../img';

@textoSizeBase: 1.6rem;
@textoSizeH1: (@textoSizeBase + 1);
@textoSizeH2: (@textoSizeBase + 0.4);
@textoSizeH3: @textoSizeBase;
